
<script src="{{ 'slick.js' | asset_url }}" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" type="text/css">
<link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" type="text/css">
{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'mb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 mb0'
  endif

-%}

  {% capture slideshow_config %}{
  "wrapAround":false,
  "cellAlign": "center",
  "dragThreshold":"5",
  "contain": true,
  "freeScroll": false,
  "prevNextButtons": false,
  "pageDots": true,
  "watchCSS": true,
  "cellSelector": ".testimonial"
  }{% endcapture %}


<section class="custom_testimonials global__testimonial-text-{{ section.id }} global__section global__section--margin {{ section_padding }} flickity__section"
  data-section-id="{{ section.id }}"
  data-aos="{{ settings.scroll_animation }}"
  data-section-type="carousel-section">
  
  {% if section.settings.title != blank %}
    <div class="section-title row pagewidth">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
 
    <div class="section-title row pagewidth">
      <p class="custreview">{{ section.settings.subtitle | escape }}</p>
    </div>
  <div class="row pagewidth">
    <div class="grid_wrapper testimonial__container">
      {% for block in section.blocks %}
        <div class="reviews_block span-4 auto sm-span-12 testimonial__block-{{ block.id }} testimonial" {{ block.shopify_attributes }}>

          {% if block.settings.image != blank %}
          <div class="testimonial__image">
            {% render 'basic-responsive-image', type: block.settings.image, width: 500 %}
          </div>
          {% endif %}

          <div class="reviews_info">
            {% capture star %}
              {% render 'snip-icons',
                 wrapper: section_context,
                 type: 'apollo',
                 icon: 'star',
                 classes: 'testimonials--icon vib-center',
                 size: '14px',
                 fill: section.settings.star_color,
                 hover: section.settings.star_color %}
            {% endcapture %}
  
            <div class="testimonial__stars">
              {% case block.settings.stars %}
              {% when 1 %}
<!--                 {{ star }} -->
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <span>1.0</span>
              {% when 2 %}
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <span>2.0</span>
              {% when 3 %}
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <span>3.0</span>
              {% when 4 %}
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                </svg>
                <span>4.0</span>
              {% when 5 %}
<!--                 {{ star }} -->
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                    </svg>
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                    </svg>
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                    </svg>
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                    </svg>
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.17354 16.1798C9.68201 15.8729 10.3186 15.8729 10.8271 16.1798L13.91 18.0406C15.1218 18.772 16.6166 17.6855 16.295 16.3072L15.4768 12.8006C15.3418 12.2222 15.5384 11.6166 15.9873 11.2277L18.7133 8.86623C19.7831 7.9395 19.2112 6.18224 17.8009 6.06263L14.2157 5.75855C13.6243 5.7084 13.1093 5.33507 12.8777 4.78867L11.4735 1.47558C10.9221 0.174768 9.07854 0.174771 8.52719 1.47558L7.12292 4.78867C6.89133 5.33507 6.37633 5.7084 5.785 5.75855L2.19972 6.06263C0.789408 6.18224 0.217527 7.9395 1.28732 8.86624L4.01335 11.2277C4.46228 11.6166 4.65884 12.2222 4.52387 12.8006L3.70567 16.3072C3.38407 17.6855 4.87887 18.772 6.09061 18.0406L9.17354 16.1798Z" fill="#C8602D"/>
                    </svg>
                <span>5.0</span>
              {% endcase %}
            </div>
            <div class="testimonial__title">
              <h3>{{ block.settings.title }}</h3>
            </div>
            <div class="rte testomonial__content">
              {{ block.settings.content }}
            </div>
            <div class="testimonial__author">
              {{ block.settings.author }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="clear"></div>

{% unless section.settings.color_scheme == 'none' %}
<style>
  section.global__testimonial-text-{{ section.id }} .testimonial {
    background: var(--{{ section.settings.color_scheme }}-background) !important;
  }
  section.global__testimonial-text-{{ section.id }} .testimonial .rte,
  section.global__testimonial-text-{{ section.id }} .testimonial h3,
  section.global__testimonial-text-{{ section.id }} .testimonial a,
  section.global__testimonial-text-{{ section.id }} .testimonial p,
  section.global__testimonial-text-{{ section.id }} .testimonial .testimonial__author {
    color: var(--{{ section.settings.color_scheme }}-color);
  }
</style>
{% endunless %}

<script>
  jQuery('.custom_testimonials .grid_wrapper').slick({
    infinite: true,
    dots: true,
    arrows: false,
    slidesToShow: 2,
    slidesToScroll: 2,
    responsive: [
    {
      breakpoint: 980,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
      }
    }
  ]
  });
</script>


{% schema %}
{
  "name": "Custom Testimonials",
  "settings":
  [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub-Heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "cs1",
          "label": "1"
        },
        {
          "value": "cs2",
          "label": "2"
        },
        {
          "value": "cs3",
          "label": "3"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "star_color",
      "label": "Star color",
      "default": "#ffd450"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks":
  [
    {
    "type": "testimonial",
    "name": "Testimonial",
    "settings":
      [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "400px x 400px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Testimonials"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Customer testimonial content about your products or service</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author"
        },
        {
          "type": "range",
          "id": "stars",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Star ratings",
          "default": 5
        }
      ]
    }
  ],
  "presets":
  [
    {
      "name": "Custom Testimonials",
      "blocks":
      [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates":
    [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "list-collections",
      "index",
      "page",
      "product",
      "search",
      "customers/account"
    ]
  }
}
{% endschema %}
